<input title="Address lookup" class="input-text" type="text" data-bind="
    value: value,
    valueUpdate: 'keyup',
    hasFocus: focused,
    afterRender: onElementRender($element),
    attr: {
        name: inputName,
        placeholder: placeholder,
        'aria-describedby': noticeId,
        id: uid,
        disabled: disabled
    }"/>
<button class="button" data-bind="visible: !isShowDetails(), event: {click: toggleAddressData}"><!-- ko i18n: 'Enter address manually' --><!-- /ko --></button>
