<?xml version="1.0"?>
<!--
/**
 * @author Bartosz Herba <b.herba@ctidigital.com>
 * @copyright 2017 CtiDigital.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ctidigital" translate="label" sortOrder="10">
            <label>CtiDigital</label>
        </tab>
        <section id="ctidigital_sales" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sales</label>
            <tab>ctidigital</tab>
            <resource>CtiDigital_GoogleAddressLookup::google_autocomplete</resource>
            <group id="autocomplete" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipping Address Autocomplete</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Autocomplete Api Key</label>
                    <comment><![CDATA[For more details please read <a href="https://developers.google.com/maps/documentation/javascript/places-autocomplete" target="_blank" alt="Autocomplete Documentation">Google Documentation</a>]]></comment>
                </field>
                <field id="use_regions" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Should the Region field be populated by the Address Autocomplete?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
